
  
  .about-section {
    padding: 50px;
    text-align:left;
    background-color: #ffffff;
    color: rgb(18, 17, 17);
  }
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

  
  
  
  #intro1 {
    
    transform: scale(0.94);
    animation: scale 30s forwards cubic-bezier(0.5, 1, 0.89, 1) ;
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
 
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  body{
    font-family: serif;
  }
  .lead{
    font-size:x-large;
    font-family: fantasy;
    position: relative;
    
    text-transform: uppercase;
    /* font-size: 2em; */
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #f7f7f7, #f7f7f7);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 8s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(246, 6, 6, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
 

  .btn-secondary {
   
  
    --bs-btn-hover-color: #898282;
 }
 .nav-link {
  --bs-hover-color:white;}